<div class="post-preview" style="margin-left: 6%; font-size: 95%;">
  {% for reply in replies %}
    <p class="post-meta" style="background-color: #f8f9fa">
      <strong>{{ reply.reply.author.username|capfirst }}</strong> at {{ reply.reply.published_at }}
      <a href="{% url 'spa-comments:reply-create' pk=reply.reply.id %}" style="float: right">
        Reply<i class="fa-solid fa-reply"></i>
      </a>
    </p>
    <p class="post-title">{{ reply.reply.text|capfirst }}</p>
    {% if reply.reply.image or reply.reply.file %}
      <p class="post-meta">Attachments:
        {% if reply.reply.image %}
          <a href="{{ reply.reply.image.url }}" target="_blank">
            <i class="fa-solid fa-file-image"></i>
          </a>
        {% endif %}
        {% if reply.reply.file %}
          <a href="{{ reply.reply.file.url }}" target="_blank">
            <i class="fa-solid fa-file-lines"></i>
          </a>
        {% endif %}
      </p>
    {% endif %}
    <!-- Divider-->
    <hr class="my-4"/>
    {% if reply.reply.replies.all %}
      {% include "includes/comment_list.html" with replies=reply.reply.replies.all %}
    {% endif %}
  {% endfor %}

</div>