{% extends "index.html" %}
{% load static %}
{% block header %}
  <!-- Page Header-->
  <header class="masthead" style="background-image: url('{% static "assets/img/create-bg.png" %}')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="page-heading">
            <h1>Add Comment</h1>
            <span class="subheading">Please write your comment below</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block main_content %}
  <!-- Main Content-->
  <main class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="my-5">
            <form method="post" action="{% url 'spa-comments:comment-create' %}"
                  enctype="multipart/form-data" novalidate>
              {% csrf_token %}
              {{ form.non_field_errors }}

              {% if form.errors %}
                <div class="text-left text-danger mb-2">
                  {% for key, value in form.errors.items %}
                    {{ key|capfirst }} {{ value }}
                  {% endfor %}
                </div>
              {% endif %}

              {% for field in form %}
                <br>
                {% if field.label == "Captcha" %}
                  {{ field.help_text }}
                  <br>
                  <br>
                  {{ field }}
                  <br>
                {% else %}
                  <div class="form-floating">
                    {{ field }}
                    {% if field.label != "Text" and field.label != "Parent ID"%}
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}

              <br/>

              <!-- Submit Button-->
              <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
